#info {
  margin-top: 30px;
}

#tableData {
  width: 70%;
}

.centered {
  text-align: center;
}

/* .card {
  margin: 20px 3%;
  display: inline-block;
  width: 27% !important;
} */

.card {
  margin: 25px auto !important;
}

.subheader {
  margin-left: 50px;
}

.header {
  margin: 30px 0;
}

.btn.active {
  background: rgb(79, 177, 79) !important;
  border: none;
}

.btn.active:hover {
  background-color: rgb(95, 137, 33) !important;
}

table {
  margin: auto;
}

.counter {
  margin-left: 18px;
  width: 60px;
  display: inline-block;
}

.groceryBtn {
  margin: auto !important;
}

#orderGroceries {
  margin: auto !important;
  width: 60% !important;
}
